p{
    font-size: small;
    color: cornflowerblue;
    padding-left: 10px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-top: 15px;
}
.paragraf-stilA{
    color: rgb(192, 175, 208);
}
.paragraf-stilB{
    color: rgb(200, 210, 12);
}
.tip1{
    font-size: 30px;
    background-color: aquamarine;
}
.tip2{
    color: burlywood;
}
.tip3{
    border: 5px;
    border-color: rgb(72, 214, 12);
    border-style: dotted;           
}
#paragrafId{
    color: rgba(55, 255, 0, 0.484);
    font-size: xx-large;
}