.row{
    background-color: #B2C8DF;   
    margin-bottom: 30px;
    padding: 5px;
    display: flex;
    height: 300px;
}
.col{
    display: flex;   
}
.col-column{
    flex-direction: column;
}
.form-element{   
    padding: 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.xc{
      justify-content: center;
}
.xl{
    justify-content: flex-start;
}
.xr{
    justify-content: flex-end;
}
.yc{
    align-items: center;
}
.yu{
    align-items: flex-start;
}
.yd{
    align-items: flex-end;
}

.col-5{
    flex: 5;
}
.col-3{
    flex: 3;
}
.col-flex{
    flex: 1;
}

.btn-new{
    background-color: #ff7f50;
    color: black;
    border: 1px solid #ff7f50;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}
.btn-new:hover{
    background-color: #eccc68;
    border: 1px solid #eccc68;
    color: white;
}

.btn-edit{
    background-color: #F65A83;
    color: black;
    border: 1px solid #F65A83;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}
.btn-edit:hover{
    background-color: #f65a84ad;
    border: 1px solid #f65a84ad;
    color: white;
}
input[type="text"]{
    width: 80%;
    background-color: #f2f2f2;
    color: black;
    padding: 14px 15px;
    margin: 5px 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="text"]:focus{
    background-color: lightblue;
    
}
.form-element label{
    width: 20%;
    text-align: left;
}

.table{
    width: 100%;   
    border-collapse: collapse;
}
th, td{
    padding: 10px; 
    border-bottom: 1px solid #ddd;
}
/*
 even -> çiftler
 odd -> tekler
 direkt satır numarası verebilirsiniz.
 tbody tr:nth-child(2){
    background-color: red;
}
Dama Tahtası şeklinde yapmak için 
tbody tr:nth-child(odd) td:nth-child(odd){
    background-color: #f2f2f2
}
tbody tr:nth-child(even) td:nth-child(even){
    background-color: #f2f2f2
}
*/
tbody tr:nth-child(odd) {
    background-color: #f2f2f2
}

tbody tr:hover{
    background-color: #ddd;
}
thead{
    background-color: #4CAF50;
    color: white;
}
